body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1371px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u49 {
  position:absolute;
  left:107px;
  top:60px;
  width:1371px;
  height:270px;
  font-size:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:1371px;
  white-space:nowrap;
}
