body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:719px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:719px;
  top:283px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:772px;
  top:154px;
  width:0px;
  height:129px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:143px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:824px;
  top:315px;
  width:-52px;
  height:-161px;
  font-size:16px;
}
#u8_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u8_seg1 {
  position:absolute;
  left:0px;
  top:-161px;
  width:20px;
  height:171px;
}
#u8_seg2 {
  position:absolute;
  left:-62px;
  top:-161px;
  width:82px;
  height:20px;
}
#u8_seg3 {
  position:absolute;
  left:-62px;
  top:-165px;
  width:20px;
  height:24px;
}
#u9 {
  position:absolute;
  left:-40px;
  top:-114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:505px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:308px;
  top:90px;
  width:105px;
  height:64px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u13 {
  position:absolute;
  left:2px;
  top:15px;
  width:101px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1137px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:505px;
  top:208px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:308px;
  top:455px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:245px;
  top:122px;
  width:63px;
  height:0px;
  font-size:16px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:77px;
  height:20px;
}
#u21 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:558px;
  top:154px;
  width:0px;
  height:54px;
  font-size:16px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:360px;
  top:154px;
  width:0px;
  height:301px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:315px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:142px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:558px;
  top:272px;
  width:0px;
  height:65px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:79px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1556px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1441px;
  top:122px;
  width:115px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:129px;
  height:20px;
}
#u31 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1336px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1242px;
  top:122px;
  width:94px;
  height:0px;
  font-size:16px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:108px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1336px;
  top:283px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1388px;
  top:154px;
  width:0px;
  height:129px;
  font-size:16px;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:143px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1388px;
  top:347px;
  width:-1196px;
  height:-193px;
  font-size:16px;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-3px;
  width:20px;
  height:271px;
}
#u40_seg1 {
  position:absolute;
  left:-1206px;
  top:248px;
  width:1216px;
  height:20px;
}
#u40_seg2 {
  position:absolute;
  left:-1206px;
  top:-197px;
  width:20px;
  height:465px;
}
#u41 {
  position:absolute;
  left:-745px;
  top:250px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:948px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1053px;
  top:122px;
  width:84px;
  height:0px;
  font-size:16px;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:98px;
  height:20px;
}
#u45 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:948px;
  top:208px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u47 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1000px;
  top:154px;
  width:0px;
  height:54px;
  font-size:16px;
}
#u48_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u49 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1053px;
  top:240px;
  width:84px;
  height:-118px;
  font-size:16px;
}
#u50_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:77px;
  height:20px;
}
#u50_seg1 {
  position:absolute;
  left:53px;
  top:-128px;
  width:20px;
  height:138px;
}
#u50_seg2 {
  position:absolute;
  left:53px;
  top:-128px;
  width:35px;
  height:20px;
}
#u51 {
  position:absolute;
  left:13px;
  top:-46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:182px;
  top:610px;
  width:661px;
  height:114px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:114px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:505px;
  top:337px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1745px;
  top:90px;
  width:105px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u57 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1661px;
  top:122px;
  width:84px;
  height:0px;
  font-size:16px;
}
#u58_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:98px;
  height:20px;
}
#u59 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:413px;
  top:122px;
  width:92px;
  height:0px;
}
#u60_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:106px;
  height:20px;
}
#u61 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:610px;
  top:122px;
  width:110px;
  height:-2px;
}
#u62_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:124px;
  height:20px;
}
#u62_seg1 {
  position:absolute;
  left:100px;
  top:-6px;
  width:20px;
  height:16px;
}
#u63 {
  position:absolute;
  left:6px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:558px;
  top:401px;
  width:-53px;
  height:-279px;
}
#u64_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:53px;
}
#u64_seg1 {
  position:absolute;
  left:-118px;
  top:29px;
  width:128px;
  height:20px;
}
#u64_seg2 {
  position:absolute;
  left:-118px;
  top:-289px;
  width:20px;
  height:338px;
}
#u64_seg3 {
  position:absolute;
  left:-118px;
  top:-289px;
  width:69px;
  height:20px;
}
#u65 {
  position:absolute;
  left:-158px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:824px;
  top:122px;
  width:124px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u66_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:138px;
  height:20px;
}
#u67 {
  position:absolute;
  left:12px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
